@model List<CoreLayer.Entities.Urun>
    <div class="comp">
        <h2>FAVORİ ÜRÜNLER</h2>
        <div id="favoriler">

            @foreach (var item in Model)
            {
                <div id="@item.Id" class="favori">
                    <div>
                        <img src="@item.Resim" height="150" width="150" onmouseover="geldiFavori();" />
                    </div>
                    <div class="bilgi">
                        <a href="/Urun/Detay?id=@item.Id" class="urun" style="width:100%">  @item.UrunAdi</a> <br /> <div class="ucret" style="width:50%" id="favoriUcret_@item.Id"> @item.Ucret TL</div>
                    </div>
                </div>
            }
        </div>
        </div>
        <script>
            function geldiFavori() {
                var favoriler = document.getElementsByClassName("favori");
                for (var i = 0; i < favoriler.length; i++) {
                    favoriler[i].addEventListener("mouseover", function () {
                        var ucret = document.getElementById("favoriUcret_" + this.id).style.display = "block";
                    });
                    favoriler[i].addEventListener("mouseleave", function () {
                        var ucret = document.getElementById("favoriUcret_" + this.id).style.display = "none";
                    });
                }
            }
        </script>
        <style>
            #favoriler {
                margin-top: 50px;
                height: max-content;
                width: 100%;
            }

                #favoriler .favori {
                    float: left;
                    width: 25%;
                }

         
        </style>
