@model List<CoreLayer.Entities.Kategori>
<div id="nav">
    @foreach (var item in Model)
    {
        <div class="kategori" id="@item.Id" href="" onmouseover="goster();">
            <a href="/Urun/Listesi/KategoriId=@item.Id"> @item.KategoriAdi</a>
            <div class="altKategori" id="altKategori_@item.Id" style="display:none">
                @foreach (var altKategori in item.altKategoriler)
                {
                <div class="alt">  @altKategori.AltKategoriAdi</div>
                }
            </div>
        </div>
    }
</div>
<script>
    function goster() {
        var kategoriler = document.getElementsByClassName("kategori");
        for (let i = 0; i < kategoriler.length; i++) {
            kategoriler[i].addEventListener("mouseover", function () {
                document.getElementById("altKategori" + this.id).style.display = "block";
            });
        }
    }
</script>
<style>
    #nav{
        width:100%;
        height:80px;
        margin-top:50px;
    }
    #nav div{
        float:left;
    }
    .kategori{
        height:60px;
        width:20%;
        background-color:cadetblue;
        color:whitesmoke;
        font-size:30px;
        font-weight:bold;
        text-align:center;
        padding-top:5px;
        margin-top:50px;
        margin-left:20px;
        transition:all 0.5s 0.5s ease-in-out;
    }
    .kategori:hover{
        transform:scale(1.05);
    }
    .kategori:hover div{
        display:block;
    }
    a{
        color:whitesmoke;
    }
    a:hover{
        color:whitesmoke;
    }
    .alt{
        height:20px;
        width:20%;
        background-color:azure;
        color:black;
    }
</style>