@model List<CoreLayer.Entities.KimeGore>
<div id="nav">
    @foreach (var item in Model)
    {
        <div class="kategori" id="@item.Id" href="" onmouseover="goster();">
            <a href="/Urun/Urunler?KimeGore=@item.Id" style="color:whitesmoke"> @item.kimeGore</a>
        </div>
    }
</div>
<style>
    #nav {
        width: 100%;
        height: max-content;
        margin: 20px auto 0px auto;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .kategori{
        height:60px;
        width:100%;
        background-color:darkorange;
        color:whitesmoke;
        font-size:30px;
        font-weight:bold;
        text-align:center;
        padding-top:5px;
        margin-top:50px;
       /* margin-left:20px;*/
        transition:all 0.5s;
    }
    .kategori:hover{
        border-top:5px solid black;
        padding-top:-2.5px;
        height:60px;
        background-color:orangered;
    }
    a{
        color:whitesmoke;
    }
    a:hover{
        color:whitesmoke;
    }
</style>