@model List<CoreLayer.Entities.Urun>
  
  <h2>YENİ GELEN ÜRÜNLER</h2>
    <div id="yeniler">

        @foreach (var item in Model)
        {

            <div id="yeniUrun_@item.Id" class="yeni">
                <img src="@item.Resim" height="150" width="150" />
                <div class="bilgi">
                    <a href="/Urun/Detay/id=@item.Id" class="urun"> @item.UrunAdi</a> <br /> <div class="ucret" style="background-color:@item.altKategori.Renk"> @item.Ucret TL</div>
                </div>
            </div>
        }
    </div>
    <style>
        #yeniler {
            margin-top: 50px;
            width:100%;
        }

            #yeniler div {
                float: left;
                width:25%;
            }
    </style>