
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="margin:50px auto">Hakkimizda</h1>

<ul id="hakkimizdaList">
    <a href="#hakkimizda">  <li href="#hakkimizda">HAKKIMIZDA</li></a>
    <a href="#tarihce"> <li href="#tarihce">TARİHÇE</li></a>
    <a href="#basarilar">   <li href="" src="#tarihce">BAŞARILAR</li></a>
    <a href="#kurumsal"> <li>KURUMSAL POLİTİKALAR</li></a>
    <a href="#kalite">  <li>ÜRÜN KALİTE TESTLERİ</li></a>
    <a href="#guvenlik"> <li>ÜRÜN GÜVENLİĞİ</li></a>
</ul>

<div class="container">

    <h4 id="#tarihce"> Kuruluş Hikayesi</h4>

    1988 yılında Fransız asıllı üç ortak tarafından kurulan LC Waikiki, toptan satış amaçlı bir marka olarak ticari hayatına başlamıştır. Paris’te kurulup tescil edilen LC Waikiki, ilk etapta t-shirt ve sweatshirt tasarımları ile dikkat çekmiştir. Zaman içerisinde markanın kurucu iki ortağının ayrılmasıyla birlikte LC Waikiki, tek hissedar olarak George Amouyal’a geçmiştir. LC Waikiki’nin üreticisi ve aynı zamanda Türkiye lisansörü olan Taha grubuna bağlı Tema Tekstil ise 1997 yılında LC Waikiki markasının tüm dünyadaki haklarını satın almıştır.

    Markanın tüm haklarının satın alınmasının ardından Taha Grubuna ait Tema Tekstil’in ismi "LC Waikiki Mağazacılık Hizmetleri" olarak değiştirilmiştir. Gruba ait yüzde 7 hisse ise LC Waikiki’nin tüm isim haklarının satın alındığı George Amouyal’a devredilmiştir. Marka ismi devrinden sonra Fransız asıllı George Amouyal, her ne kadar LC Waikiki yönetiminde aktif olarak görev almasa da halen şirketimizin yaklaşık yüzde 7 hissesini elinde bulundurmaktadır.

    1988 yılında kurulan Taha Grup, Paris’te doğan ancak İstanbul’da büyüyen LC Waikiki’yi satın alarak bugünkü seviyesine getirmiştir. Markamızın serüveni, döneminin demir çelik sektöründe ithalat ihracat operasyonu yürüten Taha Dış Ticaret ortaklarının sermaye desteği ve Mustafa Küçük’ün de kurucu/yönetici ortak olarak sorumluluk üstlendiği bir start-up olan Taha Tekstil ile başlamıştır. Zeytinburnu’nda, bir apartmanın giriş katında yaklaşık 150 metrekarelik küçük bir alanda yer alan Taha Tekstil, numune dikim ve kesim atölyesi olarak kurulmuştur. Fason üretime dayalı konfeksiyon ihracatı yapan Taha Tekstil’in LC Waikiki ile buluşması ise bir aracı pazarlamacı vasıtasıyla gerçekleşmiştir.

    LC Waikiki’nin o dönemlerde çok popüler olan ve daha çok Hindistan, Kore ve Yunanistan gibi ülkelerde üretilen maymunlu t-shirt modellerinden yaklaşık on bin adetlik bir siparişin alınması üzerine Taha Tekstil, markanın Türkiye’deki fason üretimini organize etmeye başlamıştır. Taha Tekstil, LC Waikiki’nin artan sipariş, baskı, nakış, etiket, kalite ve kısa süreli üretim taleplerini karşılayabilmek için zaman içerisinde üretim yatırımlarına yönelmiştir. Bu yatırımlar, start-up olarak ayrı kar merkezli ve farklı kurucu/yönetici ortaklar tarafından idare edilen şirketlerin kurulması ile gerçekleştirilmiştir.

    1990-1994 yılları arasında baskı, nakış, etiket, örme kumaş, örme boyahane ve farklı konfeksiyon atölyeleri olarak kurulan şirketler, 1994’te Genel Koordinatörlüğü’nü Mustafa Küçük’ün üstlendiği Taha Holding çatısı altında toplanmıştır. Taha Tekstil, daha sonra ise Taha Holding, sermayedar ortak olarak Şefik Yılmaz Dizdar ve kurucu/yönetici ortak Mustafa Küçük tarafından yüzde 50’şer ortaklık ile kurulmuştur. Daha sonraki dönemde ana şirket olan Taha Tekstil’in yüzde 10 hissesi o dönemki üretim müdürü olan İsmail Hakkı Kısacık’a devredilerek ana şirket olan Taha Tekstil’in ve Taha Holding’in ortak sayısı üçe yükselmiştir.

    Taha Holding bünyesinde kurulan her bir şirketin yönetiminden sorumlu kurucu/yönetici ortaklar da ana şirkette hissedar olmamalarına rağmen kendi yönetimlerinde bulunan şirketlerin ortaklık hisseleri sebebiyle Taha Grubu ailesine katılmışlardır. Taha Tekstil’in ihracat amaçlı LC Waikiki üretimine başlamasının ardından, o dönemin meşhur maymunlu t-shirt modellerinin iç piyasada da büyük talep görmesi üzerine, LC Waikiki’nin Türkiye lisansı Taha Holding tarafından 1991 yılında kurulan Tema Tekstil ile alınmıştır. Daha sonrasında Türkiye iç piyasasına toptan satış ve corner bayilik yöntemi ile giriş yapılmıştır.

    LC Waikiki’nin iç piyasadaki toptan satış organizasyonunu yönetmek amacıyla Taha Holding tarafından kurulan Tema Tekstil’in yönetimine de kurucu/yönetici ortak olarak Mustafa Küçük’ün abisi Vahap Küçük getirilmiştir. İlk perakende LC Waikiki mağazamız Şişli Halaskargazi Caddesi üzerinde açılmıştır. Bu mağazayı daha sonra farklı şehirlerde açılan perakende mağazalarımız takip etse de 2000 yılındaki mali kriz nedeniyle perakende mağazalarımız, amaçlanan karlılık ve büyümeyi sağlayamamıştır. 2000 yılında yaşanan mali kriz sürecinde, nakit akış dengesini sağlamakta zorlanan ve bazı üretim şirketlerini nakit ihtiyacını karşılamak için satmak zorunda kalan Taha Grubu şirketlerinde, yaşanan krizin getirdiği zorluklar kurum yönetimini radikal kararlar almaya sevk etmiştir.
    Bu dönem içinde üretim grubu ile perakende grubunun birbirinden tamamen ayrılmasına ve toptan bayilik sisteminden çıkılarak tamamen perakende mağazacılığa odaklanılmasına karar verilmiştir. Bu radikal kararlar doğrultusunda üretim şirketlerinin Taha Holding çatısı altında, üretimden sorumlu olan İsmail Kısacık’ın Grup Koordinatörlüğü’nde ihracata yönelmesi, Yönetim Kurulu Başkanlığı’nın Vahap Küçük tarafından, CEO/Grup Koordinatörlüğü’nün ise Mustafa Küçük tarafından üstlenildiği Tema Holding ve buna bağlı Tema Mağazacılık şirketlerinin ise tamamen perakende sektörüne odaklanması kararlaştırılmıştır.

    LC Waikiki altında birleşen Tema Holding ve Tema Mağazacılık ile 2023’e kadar Avrupa’nın en başarılı üç giyim markasından biri olma vizyonumuz doğrultusunda hareket ediyoruz. “İyi giyinmek herkesin hakkı” misyonumuz ile yurt içinde ve yurt dışında ağırlıklı kendi mağazalarımız, yasal mecburiyetlerin olduğu ülkelerde ise franchise ortaklarımız ile büyümeyi sürdürüyoruz. Anadolu’nun çeşitli şehirlerinde kurulan fabrikalar ile dünyanın önde gelen markalarının üretim ve ihracatına yönelik çalışmalara da devam ediyoruz. 2021 yıl sonu itibariyle 34.1 milyar TL net satış, 54 bin istihdam, 950 milyon USD ihracat ve yaklaşık 1200 mağaza sayısına ulaşmanın gururunu yaşıyoruz.
<h4 id="basarilar">Başarılar</h4>
    <div style="display:grid; grid-template-columns:40% 55%">
        <img src="/img/basari.jpg"/>
        <div>
            Alışveriş Yatırımcıları Derneği'nin bu yıl 12'nci kez gerçekleştirdiği "AYD 1 Numaralı Markalar Ödül Töreni"nde; 2019 Günlük Spor Giyim, 2019 ve 2020 Çocuk Giyim ve 2020 Kadın Giyim Kategorilerinde 1'nci sırada yer aldık.

            Bu haberi sizlerle paylaşmaktan mutluluk duyarız.
        </div>
    </div>
    <h4 id="kurumsal">Kurumsal Politikalar</h4>
    <div>
        <h6 id="misyonumuz"><strong>Misyonumuz</strong></h6>
        <div>
            “2023 yılına kadar Avrupa’nın en başarılı üç giyim perakendecisinden biri olmak” tır.
            Bu başarı EBITDA karlılık oranı; çalışan, müşteri, tedarikçi memnuniyeti, sosyal sorumluluk ve sürdürülebilirlik ilkelerini temel almaktadır.
        </div>
        <h6 id="vizyonumuz"><strong>Vizyonumuz</strong></h6>
        <div>
            “İyi giyinmek herkesin hakkı” inancından hareketle "insanları, tarzları ve bütçelerine uygun giydirerek iyi hissettirmek" tir.
        </div>
        <h6 id="degerler"><strong>Değerlerimiz</strong></h6>
        <div>
            <ul>
                <li>Erdemli Olma</li>
                <li>Birlikte Başarma</li>
                <li>Derinlemesine Uzmanlaşma</li>
                <li>Müşteri Odaklı Olma</li>
                <li>Zorluklara Meydan Okuma</li>
            </ul>
        </div>
    </div>
    <div>
        <h6 id="kalite"><strong>Ürün Kalite Testleri</strong></h6>
        <div>
            Uzak doğudaki üretimlerimizin kontrolü, ekolojik ve diğer teknik gereklilikler açısından uygunluğunun sağlanması amacı ile Türkiye’de kurduğumuz laboratuvarımızın benzerini 2010 yılında Bangladeş’te kurduk. Bangladeş’in Dhaka şehrinde kurulu laboratuvarlar haslık, fizik, elyaf ve ekoloji alanlarında Türkiye laboratuvarımızda olduğu şekliyle hizmet vermektedir.
        </div>
        <h4 id="guvenlik">Ürün Güvenliği</h4>
        <div>
            <div style="width:100%; background-color:antiquewhite"> Her gün 5.000 adet ekolojik test yapıyoruz.</div>
            Giysi ve aksesuarlarda bulunma ihtimali olan zararlı kimyasalların, ürünlerimizde var olup olmadığını test edilebilmek için, Türkiye’de ve Bangladeş’te kurduğumuz ekolojik test laboratuvarlarında her gün 5.000 ekolojik test gerçekleştiriyoruz. Günümüzün önemli konularından biri olan karbon ayak izi ve su ayak izi çalışmalarımızın yansıra kimyasal ayak izimizi de önemsiyoruz.

            <div style="width:100%; background-color:antiquewhite"> Tüketicimizin sağlığı için sadece ekolojik ürün üretmeyi taahhüt eden üreticilerle çalışıyoruz.</div>
            Çevre ve kimyasal boyutta üretim yaptırdığımız üreticilerimizi LC Waikiki standartlarına uygun hale getirmek için bu yıl Ekoloji Uyumlandırma el kitabımızı yayınladık.Üreticilerimizi, tüketicimizin sağlığı için daima sadık kaldığımız ekoloji politikamız hakkında bilgilendirerek sadece bu politikamıza uygun üreticilerle çalışıyoruz.

            Sizin ve sevdiklerinizin sağlığı için üreticilerimizi periyodik olarak denetliyoruz.
            Tüketici sağlığını ve ürün güvenliğini tehdit edecek bir uygunsuzluk durumunda ise yetkili mercilere düzeltici ve önleyici faaliyetler talebinde bulunuyoruz.
        </div>
    </div>
</div>

<style>
    #hakkimizdaList li{
        height:25px;
        width:250px;
        min-width:120px;
        background-color:dodgerblue;
        color:whitesmoke;
        text-decoration:none;
        list-style:none;
        margin:5px auto 5px 0px;

    }
    #hakkimizdaList li:hover{
        background-color:deepskyblue;

    }
    h4{
        margin-top:30px;
    }
</style>