@model IEnumerable<CoreLayer.Entities.Kategori>
@{
    ViewData["Title"] = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    @item.KategoriAdi <br />
}

<ul id="pro">

</ul>

<h1>KategoriEkle</h1>

<input type="text" name="KategoriAdi" id="KategoriAdi" />
<button onclick="">Ekle</button>
<button onclick="">Listele</button>
<script>
    //function listele() {
    //    const getProducts = () => {
    //        const response = await fetch('http://localhost:60171/api/Kategori/KategoriListe');
    //        const products = await response.json();
    //        setProducts(products);
    //    }
    //    const setProduct = (products) => {
    //        var pro = document.getElementById("pro");
            
    //        products.forEach(e => {
    //            var li = document.createElement("li");
    //            li.innerText = e.KategoriAdi;
    //            pro.appendChild(li);
    //        })
    //    }
    //    getProducts();
    //}
    //function ekle() {
    //    //let xhr = new XMLHttpRequest();
    //    var kategori = document.getElementById("KategoriAdi");
    //    let api = "http://localhost:60171/api/Kategori/KategoriEkle";
    //    //xhr.open("POST", + kategori, true);
    //    //xhr.send();

    //    const item = {
    //        isComplete: false,
    //        name: kategori.value.trim()
    //    };

    //    fetch('api/Kategori/KategoriEkle', {
    //        method: 'POST',
    //        headers: {
    //            'Accept': 'application/json',
    //            'Content-Type': 'application/json'
    //        },
    //        body: JSON.stringify(item)
    //    })
    //        .then(response => response.json())
    //        .then(() => {
    //            /*getItems();*/
    //            kategori.value = '';
    //        });
    //        /*.catch(error => console.error('Unable to add item.', error));*/
    //}
</script>