@model List<CoreLayer.Entities.Urun>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div id="urunListe">
    @foreach (var item in Model)
    {
    <div>
        <img src="../img/img-03.jpg"/>
        <div>
            @item.UrunAdi
        </div>
    </div>

    }
</div>  